MINIO_ACCESS_KEY=your_new_key
MINIO_SECRET_KEY=your_new_secret
MINIO_ENDPOINT=your_new_endpoint
MINIO_REGION=your_new_region

AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_S3_ENDPOINT_URL=
MLFLOW_S3_ENDPOINT_URL=

MLFLOW_TRACKING_URI=
USE_MLFLOW=true