MINIO_ACCESS_KEY=your_new_key
MINIO_SECRET_KEY=your_new_secret
MINIO_ENDPOINT=your_new_endpoint
MINIO_REGION=your_new_region
STOCK_TICKERS=DIG,DJP,EDC,ERC,EUM,FEZ,FUND,GLD,IAE,MIDU,PBP,PID,TSM,TV,UGA,VOO,VSS,XBI,XLI,XLP